.container {
  padding-left: 50px; 
  width: 800px;
  /* max-width: 800px; */
  margin: 0 auto;
  margin-top: 50px;
}

.title {
 margin-left: 20px;

 margin-bottom: 50px;

} 

.filter-input {
  /* width: 100%; */
  max-width: 600px;

  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c8c1c1;
  border-radius: 4px;
  font-size: 1rem;
  background-color: rgb(245, 238, 248);
  color: rgb(142, 136, 136);
}

